---
layout: default
title: HOME
permalink: /
lang: pl
---

{% assign sections = site.data.sections %}
{% assign slogans = site.data.slogans %}
{% assign offer = site.data.offer %}
{% assign technologies = site.data.technology %}
{% assign team = site.data.team %}
{% assign contact = site.data.contact %}

{% include sections/slogan.html %}
{% include sections/offer.html %}
{% include sections/partners.html %}
{% include sections/technology.html %}
{% include sections/team.html %}
{% include sections/contact.html %}
