<section id="contact">
  <div id="map"></div>
  <div id="components">
    <div class="section container">
      <div class="row">
        <div class="col s12">
          <h3>Kontakt</h3>
        </div>
      </div>
      <div class="row">
        <div class="col l5 m6 s10 offset-s1 ">

          <div class="card blue-grey darken-1 ">
            <div class="card-content white-text">
              <p class="flow-text">
                4clouds.io&nbsp;s.c.
                <br />II Armii 48/9, 65-936
                <br />Zielona&nbsp;Góra, Polska
              </p>
              <p class="flow-text"><br /></p>

              <p class="flow-text">
                email:&nbsp;contact@4clouds.io
                <br /> telefon:&nbsp;+48&nbsp;601&nbsp;888&nbsp;105
                <br />
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
