<section id="offer">
  <div class="container">
    <h3>{{ sections.offer }}</h3>
    <div class="row">
      {% for item in offer %}
      <div class="{{ item.cls }}">

        <div class="card card-offer {{ item.color }}">
          <div class="card-content">
            <div class="card-title truncate grey-text text-darken-2">{{ item.title}}</div>
            <p>{{ item.slogan}}</p>
          </div>
        </div>

      </div>
        {% assign newr = forloop.index | modulo:3 %}
        {% if  newr == 0 %}
          </div>
          <div class="row">
        {% endif %}
      {% endfor %}
    </div>  <!-- }row -->
    <div class="row">
      <div class="col s12">&nbsp;</div>
    </div>
  </div>
</section>
