<section id="slogan" class="valign-wrapper">
    <div class="slider fullscreen">
        <ul class="slides">
          {% for item in slogans %}
          <li>
              <img src="{{ item.i}}">
              <div class="caption center-align slogan-outer">
                  <div class="slogan-inner valign">
                    <div class="container">
                      <h3>{{ item.h }}</h3>
                      <h5 class="light text-lighten-3">{{ item.t }}</h5>
                    </div>
                  </div>
              </div>
          </li>
          {% endfor %}
        </ul>
    </div>
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
            </div>
            <div class="back">
            </div>
        </div>
    </div>
    <div class="slogan-footer"></div>
</section>
