<section id="slogan" class="parallax-container valign-wrapper">
  <div class="container">
    <div class="center-align valign">
      <h2 class="white-text">Uwolnimy Cię od zbędnych kosztów infrastruktury IT.</h2>
      <p class="flow-text white-text">
        Techologia jest dojrzała a oferta rynkowa usług róznorodna,<br /> pora zdecydować jak oszczedzając zapewnić sobie lepszą jakośc systemów i danych.
<br /><br />
      </p>

      <a href="#offer" class="waves-effect waves-light btn ">więcej</a>
    </div>
  </div>
  <div class="parallax">
    <img src="img/bg/cloud-sky.jpg" alt="sky">
  </div>
</section>
<br /<br />
