<section id="team" class=" blue-grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3>Zespół</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 offset-m2 center">
        <img src="img/team/marek.jpg" class="team-image circle" width="120"/>
        <h5>Marek Adaszyński</h5>
        <p>Partner, sieci WAN, zarządzanie projektami</p>
      </div>
      <div class="col s12 m4 center">
        <img src="img/team/wojtek.jpg" class="team-image circle" width="120"/>
        <h5>Wojtek Regeńczuk</h5>
        <p>Partner, www, wirtualizacja, software, cloud</p>
      </div>
    </div>

  </div>
</section>
