<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if page.lang == "pl" %}
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
{% else %}
  <title>{{ site.title_en }}</title>
  <meta name="description" content="{{ site.description_en }}">
{% endif %}

<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/pictonic/css/pictonic.css">
<!--[if lt IE 8]><script src="/css/pictonic/js/pictonic.min.js"></script><![endif]-->
<meta name="google-site-verification" content="Piwq9id_51E5GtFUF1dwnmY2gAUCH0JjCqUaQUEgbBw" />

<link rel="alternate" href="http://4clouds.io" hreflang="pl-pl" />
<link rel="alternate" href="http://4clouds.io/en/" hreflang="en-gb" />
<link rel="alternate" href="http://4clouds.io/en/" hreflang="en-us" />
<link rel="alternate" href="http://4clouds.io/en/" hreflang="en" />
