<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if page.lang == "pl" %}
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
{% else %}
  <title>{{ site.title_en }}</title>
  <meta name="description" content="{{ site.description_en }}">
{% endif %}

<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/main.css">
