---
layout: compress
---
<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body id="top">

  <header>
    <div class="navbar-fixed">

      <nav class="top-nav">
        <div class="container">
            {% include menu.html %}
        </div>
      </nav>
    </div>
  </header>

  {{ content }}

  {% include scripts.html %}
  {% include footer.html %}

  <div class="btn-top hide-on-small-only">
    <a href="#top"><i class="material-icons">arrow_drop_up</i></a>
  </div>
  <div class="cookie-panel z-depth-3 card-panel valign-wrapper center-align">
    <p class="valign">
      We use cookies to track usage and preferences.
    </p>
  </div>
</body>

</html>
